.hhh9{
    position: relative; 
    left:30px; 
    font-size:30px; 
     top:9px; 
     color: #FFFFFF;
     width:1536px;
}
.ppp9
{
    position: relative; 
    left:0px;
    font-size: 20px;
    color: #FFFFFF;
}
.img19{
    position: absolute;
    top:70px;
    left: 126px;
    
}
.cross9
{
    position: absolute;
    left: 1461px;
    top: 0px;
    border-radius: 100px;
}
.img29
{
    position: absolute;
    left: 0px;
   
}
.text19{    
    padding-bottom: 5px;
    background-color: #D6B698;
    width: 1502px;
    padding-top: 5px;
}
.rectangle19{
  
    position: absolute;
    width: 365px;
    height: 236px;
    left: 0px;
    top:850px;
    background: #C9D9F8;
}
.counselling9
{
    position: absolute;
    left: 45px;
    top: 870px;
    font-size: 32px;
    font-style: normal;
   

}
.oval9
{
    position: absolute;
    width: 164px;
    height: 80px;
    left: 70px;
    top: 971px;
    background: #D9D9D9;
    border-radius: 50%;
}
.code9
{
    position: absolute;
    left: 115px;
    top: 955px;
    font-size: 32px;

}

.rectangle29{
    position: absolute;
    width: 395px;
    height: 236px;
    left: 365px;
    top: 850px;
    background: #BCC2FA;
}
.nirf9
{
    position: absolute;
    left: 441px;
    top: 870px;
     font-size: 32px;
     font-style: normal;

}
.img39
{
    position: absolute;
    left: 412px;
    top: 980px;
}
.rank9
{  
    position: absolute;
    left: 543px;
    top: 958px;
    font-size: 32px;

}


.rectangle39{
    position: absolute;
    height: 236px;
    width: 395px;
    left: 750px;
    top: 850px;
    background: #C9D9F8;
}
.rating9
{
   position: absolute;  
   left: 850px;
   top: 870px;
   font-style: normal;
   font-size: 36px;

}
.img49
{
    position: absolute;
    left: 790px;
    top: 985px;
   
}


.rectangle49{
    position: absolute;
    height: 236px;
    width: 383px;
    top:850px;
    left:1120px;
    background: #BCC2FA;
}  
.course9
{
    position: absolute;   
    left: 1172px;
    top: 870px;
    font-size: 32px;
    font-style: normal;
}
.img59
{
    position: absolute;
    left: 1322px;
    top: 890px;
}
.degree9
{
   position: absolute;   
   left: 1230px;
   top: 935px;
   font-size: 24px;
}
.fit
{
    padding-right: 0px;
    width:1536px;
}