.hhh4{
    position: relative; 
    left: 10px; 
    font-size:30px; 
     top:9px; 
     color: #FFFFFF;
     font-family: 'Inter';
font-style: normal;

}
.ppp4
{
    position: relative; 
    left:0px;
    font-size: 20px;
    top:px;
    color: #FFFFFF;
    font-family: 'Inter';
font-style: normal;
}
.ttt
{
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.img14{
    position: absolute;
    width: 100px;
    height: 92px;
    left: 92px;
    top:75px;
}
 
.cross4
{
    position: absolute;
    left: 1450px;
    top: 0px;
    border-radius: 100px;
}
.img24
{
    position: absolute;
    width: 1574px;
    height: 658px;
    left: -116px;
    top: px;
    
   
}
.text14{    
    padding-bottom: 5px;
    background-color: #879FF5;;
   
    width: 1486px;
    padding-top: 5px;
}
.rectangle14{
  
    position: absolute;
    width: 370px;
    height: 236px;
    left: 0px;
    top: 797px;
    background: #C3E7EF;
}
.counselling4
{
    position: absolute;
    left: 102px;
    top: 800px;
    font-size: 32px;
    font-style: normal;
    font-family: 'Inter';
    width: 137px;
    height: 39px;
    font-weight: 500;
    line-height: 39px;
   

}

.code4
{
    position: absolute;
    left: 67px;
    top: 870px;
    font-size: 32px;
    font-family: 'Inter';
    font-style: normal;

}

.rectangle24{
    position: absolute;
    width: 372px;
    height: 236px;
    left: 369px;
    top: 797px;
    
    background: #9EDAE8;
}
.nirf4
{
    position: absolute;
    left: 436px;
     top: 790px;
     font-size: 36px;
     font-style: normal;
     font-family: 'Inter';


}
.img34
{
    position: absolute;
    width: 79px;
    height: 69px;
    left: 432px;
    top: 915px;
    
}
.rank4
{  
    position: absolute;
    left: 573px;
    top: 880px;
    font-size: 36px;
    font-family: 'Inter';
font-style: normal;

}


.rectangle34{
    position: absolute;
    width: 363px;
    height: 236px;
    left: 738px;
    top: 796px;
    background: #CFEEF0;
}
.rating4
{
   position: absolute;  
   left: 855px;
   top: 790px;
   font-style: normal;
   font-size: 36px;
   font-family: 'Inter';

}
.img44
{
    position: absolute;
    width: 285px;
    height: 44px;
    left: 773px;
    top: 928px;

   
}


.rectangle44{
    position: absolute;
    width: 386px;
    height: 236px;
    left: 1100px;
    top: 796px;
    background: #8FD7DC;
}  
.course4
{
    position: absolute;   
    left: 1177px;
    top: 770px;
    font-size: 36px;
    font-style: normal;
    font-family: 'Inter';

}
.img54
{
    position: absolute;
width: 62px;
height: 49px;
left: 1347px;
top: 815px;

}
.degree4
{
   position: absolute;   
   left: 1193px;
   top: 840px;
   font-size: 20px;
   font-style: normal;
    font-family: 'Inter';

}